* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ________________________________________________ */
body {
  background-color: rgb(52, 49, 49);
  font-family: "Press Start 2P", cursive;
}

.reset {
  margin: 15px;
  padding: 10px;
  font-size: 25px;
}

.title {
  font-size: 52px;
  color: #fff;
  text-align: center;
}
/* .radom-number-box {
  position: relative;
} */

.line {
  width: 100vw;
  height: 47px;
  border-bottom: 5px solid #fff;
  position: absolute;
  padding-top: 15%;
  padding-left: 0px;
  position: relative;
}

.number-random {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  width: 145px;
  height: 145px;

  font-size: 45px;
  padding: 35px 35px;

  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 50%;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  padding: 50px 150px;
}

.number-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.my-number {
  background-color: rgb(52, 49, 49);
  border: 3px solid #fff;
  color: #fff;
  width: 250px;
  height: 100px;
  font-size: 20px;
  text-align: center;
}

.check {
  width: 150px;
  padding: 5px;
  font-size: 15px;
}

.status-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.status-title {
  margin-bottom: 15px;
  font-size: 10px;
}

.score-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 9px;
}
